<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

   <!--Made with love by Mutiullah Samim -->
   <style>

     /* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-color: 	#F5F5F5;
background-repeat: no-repeat;
height: auto;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 500px;
background-color:white;
-webkit-box-shadow: 10px 10px 6px 0px rgba(219,219,219,1);
-moz-box-shadow: 10px 10px 6px 0px rgba(219,219,219,1);
box-shadow: 10px 10px 6px 0px rgba(219,219,219,1);
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}


.input-group-prepend span{
width: 50px;
background-color: #0058AB;
color: white;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #0058AB;
width: auto ;
}

.login_btn:hover{
color: black;
background-color: lightblue;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

@media only screen and (max-width: 600px) {
  .heading12{
      font-size: 15px;
      color: #0058AB
  }
}
   </style>
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="styles.css">

     <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
   <a class="navbar-brand" href="/trailDashboard">
    <img src="http://res.cloudinary.com/jishan/image/upload/c_scale,w_1200/v1568698568/logo_transparent.png" alt="Logo" style="width:40px;">
  </a>
  
  
   <span style="color:white" class="navbar-text">
    We are changer
  </span>
   <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="logoutU"> Logout</a>
    </li>
 
  </ul>
   
</nav>
<br>
<br>
		

<div class="container">
    
	<div class="d-flex justify-content-center h-100">
		<div class="card">
			<div class="card-header">
				<h5 class="heading12" style="color:black;color: #0058AB">Book a meeting now to get free consultation!</h5 style="color:black">
                {{#if message}}
<div class="alert alert-danger">{{message}}</div>
{{/if}}
				{{!-- <div class="d-flex justify-content-end social_icon">
					<span><i class="fab fa-facebook-square"></i></span>
					<span><i class="fab fa-google-plus-square"></i></span>
					<span><i class="fab fa-twitter-square"></i></span>
				</div> --}}
			</div>
			<div class="card-body">
				<form method="POST" action="/meetingD"> 
				<div class="input-group form-group">
						<div class="input-group-prepend">
						
						</div>
					<label style="color:black" for="education">Your education</label>
					</div>

   <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{!-- <input name="mobile" type="text" class="form-control" placeholder="mobile number"> --}}
            <select class="form-control" name="education" id="sel1" required>
            <option value="">Enter your education education</option>
            <option value="10th(Matric)">10th(Matric)</option>
             <option value="12th(Intermediate)">12th(Intermediate)</option>
             <option value="Graduated">Graduated</option>
              <option value="Master">Master</option>
               <option value="PHD">PHD</option>
        
            </select>
            </div>

	<div class="input-group form-group">
						<div class="input-group-prepend">
						
						</div>
					<label style="color:black" for="profession">Your Profession</label>
					</div>
               <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{!-- <input name="mobile" type="text" class="form-control" placeholder="mobile number"> --}}
            <select class="form-control" name="profession" id="sel1" required>
            <option value="">Enter your profession</option>
            <option value="fresher">Fresher</option>
            <option value="job">Job</option>
            <option value="bussiness">Business</option>
            <option value="other">Other</option>
            </select>
            </div>
<div class="input-group form-group">
						<div class="input-group-prepend">
						
						</div>
					<label style="color:black" for="experience">Your Experience</label>
					</div>

   <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{!-- <input name="mobile" type="text" class="form-control" placeholder="mobile number"> --}}
            <select class="form-control" name="experience" id="sel1" required>
            <option value="">Enter your experience</option>
            <option value="0-5yr">0-5yr</option>
            <option value="5-10yr">5-10yr</option>
            <option value="10yr+">10yr+</option>
            </select>
            </div>

<label style="color:black" for="date">Book a meeting</label>
   <div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{!-- <input name="mobile" type="text" class="form-control" placeholder="mobile number"> --}}
 

 <input type="date" name="date" max="3000-12-31" 
        min="1000-01-01" class="form-control" required>


            </div>


<label style="color:black"or="question">Are you interested to visit our office for meeting</label>
<div class="input-group form-group">
            <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            {{!-- <input name="mobile" type="text" class="form-control" placeholder="mobile number"> --}}
            <select class="form-control" name="question" id="sel1" required>
            <option>yes</option>
            <option>no</option>
          
            </select>
            </div>

<div class="form-group">
						{{!-- <input type="submit" value="Login" class="btn  float-right login_btn"> --}}

						<button type="submit" class="btn justify-content-center mx-auto d-block login_btn" style="color:white" >Book free consultation</button>
                        		<div class="row">
						<div class="col-sm-12 text-center ">
							{{!-- <br>	<p  style="color:white">if any queries contact us at  <span style="color:tomato">7404225687</span> </p> --}}
			<br>
            	<h6 class="text-center" style="color:black">© WeAreChanger.in	</h6>
						</div>
					</div>
					
					</div>
                                 {{!-- <h5 style="color:white">Already booked meeting check your  <a class="btn btn-info" href="/userDashboard">dashboard</a> </h5>   --}}
				
				</form>
			</div>
			
		</div>
	</div>
</div> 




