<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

   <!--Made with love by Mutiullah Samim -->
   <style>

     /* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 600px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}


.input-group-prepend span{
width: 50px;
background-color: #0058AB;
color: white;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #0058AB;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
   </style>
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="styles.css">

<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card">
							<img src="https://res.cloudinary.com/jishan/image/upload/v1568556656/logo_transparent.png" height="150" width="150"  class="mx-auto d-block"   alt="">


			<div style="padding-top:0%" class="card-body">
				
			<h5  style="color:white;font-family: 'Concert One', cursive;" class="text-center" >We Are Changer</h5>

			<div class="embed-responsive embed-responsive-21by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/3wi65UW_nJk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

         </div>

<br>


<div class="form-group">
						{{!-- <input type="submit" value="Login" class="btn  float-right login_btn"> --}}

					<h3 style="color:white"><a class="btn btn-info mx-auto d-block" style="width:300px" href="/meetingP">Book a meeting now</a>  </h3>


       {{#ifeq reference 'kushpal'}}
		<div class="row">
						<div class="col-sm-12 text-center ">
							
	<p  style="color:white">if any queries contact at  <span style="color:tomato">7404225687</span></p> 

				
						</div>
		</div>

{{/ifeq}}


					<div class="row">
						<div class="col-sm-12 text-center ">
							
	

				
						</div>
				
						{{#each dataR}}
						<p  style="color:white">if any queries contact at </p>
<div class="col-sm-12 text-center ">
<p style="color:white">Email: <span style="color:tomato">{{email}}</span> </p>
</div>

<div class="col-sm-12 text-center ">
<p style="color:white">Mobile:<span style="color:tomato">{{mobile}}</span></p>
</div>
	{{/each}}
					</div>
					
				        
                                 {{!-- <h5 style="color:white">Already booked meeting check your  <a class="btn btn-info" href="/userDashboard">dashboard</a> </h5>   --}}

                	</div>
                 {{!-- <h4 style="color:white">Already booked meeting check your  <button type="submit" class="btn justify-content-center login_btn" style="color:white" >dashboard</button></h4>   --}}
				
				</form>
			</div>
			
		</div>
	</div>
</div>
